body {
    background-color: #a19f9f;
    margin: auto;
    text-align: center;
}

#title {
    color: #fffaf0;
    font-size: 60px;
}

#azul {
    color: #0000ff;
    font-size: 50px;
}

#rojo {
    color: #ff0000;
    font-size: 50px;
}

#nombre {
    color: rgb(193, 231, 231);
    font-size: 15px;
}
